<table>
	<tr ng-repeat="item in ingredients">
		<td>
			<input type="checkbox" id="{{item.item}}">
			<label for="{{item.item}}">{{item.num}} {{item.unit}} {{item.item}}</label>
		</td>
		<td>{{item.notes}}</td>
	</tr>
</table>

<!-- http://www.foodnetwork.com/recipes/alton-brown/good-eats-roast-turkey-recipe.html
http://www.foodnetwork.com/recipes/ina-garten/perfect-roast-turkey-recipe4.html
http://www.foodnetwork.com/recipes/tyler-florence/mashed-potatoes-recipe.html
http://www.foodnetwork.com/recipes/giada-de-laurentiis/ciabatta-stuffing-with-chestnuts-and-pancetta-recipe.html -->
